<h1>Welcome <%= @user.username %></h1>


<h3>Owned Plants</h3>
<% @user.owned_plants.each do |p| %>
    <ul>
    <li><%=link_to p.plant.common_name, plant_path(p.plant_id) %> - <%= p.seed_date.strftime("Seeded on: %m/%d/%Y") %> <%= link_to "Show", edit_user_owned_plant_path(@user, p) %></li>
    </ul>

<% end %>

<%= link_to "Add a plant to your collection",  plants_path%>

<%= button_to "Log out", logout_path %> <%= link_to "Show only live plants",  alive_path%>